@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 300;
}

  * {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: rgb(118, 110, 110);
    margin: 0 ;
    padding: 0;
  }
h2 {
  letter-spacing: 10px;
  color: black;
}
  .container {
    max-width: 1220px;
    margin: 0 auto;
  }

/*Header style start*/

.header {
  background-color: rgb(156, 139, 170);
}

.header-container {
  padding: 30px 0;
}

.header-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
}

.header-item {
margin-right: 42px;
}

.header-item:last-child {
  margin-right: 0px;
}

.nav-link {
  font-size: 18px;
  line-height: 24px;
  color: wheat;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  opacity: .30;
  transition: .5s;
} 


/*Header style end*/

/*Section-name style start*/

.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section{
  width: 50%;
  padding: 20px 50px;
}

.section-name {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
  color: rgb(156, 139, 170);
}

.section-photo {
  width: 250px;
  height: 250px;
  border-radius: 70%;
  box-shadow: 0px 0px 8px 1px rgb(192, 178, 214)
}

.name-post {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 10px;
  text-shadow: 6px 6px 8px rgb(192, 178, 214);
}

/*Section-name style end*/

/*Section-information style start*/



/*Section-information style end*/

 /*Footer style start*/

 .footer {
  background-color: rgb(156, 139, 170);
  padding: 30px 0;
 }

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  color:  wheat;
}
 li {
  list-style-type: none;
  line-height: 1.5;
 }
 /*Footer style end*/